body{
	margin: 10px;
}

nav-wrapper{
	margin:10px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.button-collapse {
  color: #26a69a;
}

#MSPimage {
  opacity: 1.25;
  filter: alpha(opacity=125);
}

h1 {
  font-size:150px;
  margin:-10px;
}

h5 {
  margin:0;
  font-size:30px; 
  text-decoration:underline;
}

h6 {
  font-size: 20px;
}

.container{
  margin-top:10px;
}


.i-container {
  background-color:teal;
  padding:0px;
}

#how-it-works {
  margin:0;
  font-size: 30px;
}


.instructions {
  font-size:18px;
  font-weight:bold;
}

p {
  font-size:16px;
  line-height: 1;
  margin:5px;
}

#myModal {
  z-index: 4;
  width: 900px;
  color: white;
  background: grey;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#map {
  height: 400px;
  width: 100%;
  background: lightblue;
}

#lyft-web-button-parent {
  min-height: 100px;
}

footer.page-footer {
  margin: 0;
  text-align:left;
}

#events {
  color: teal;
  z-index: 1;
}

.myEvent {
  width: 250px;
  height: 50px; 
}

footer.page-footer {
  margin: 0;
  text-align:left;
}
